<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to Aladdin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheets/indexLayout.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image:url('/images/simple-house-01.jpg');">
        <!-- ################################################################################################ -->
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="one_quarter first">
                <h1><a href="/">Aladdin</a></h1>
                <p>Welcome to our world</p>
            </div>
            <div class="three_quarter">
                <ul class="nospace clear">
                    <li class="one_third first">
                        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a
                                    call:</strong> +84 (336) 424 121</span></div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a
                                    mail:</strong> cn1122000@gmail.com</span></div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. -
                                    Sat.:</strong> 08.00am - 18.00pm</span></div>
                    </li>
                </ul>
            </div>
            <!-- ################################################################################################ -->
        </header>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <section id="navwrapper" class="hoc clear">
            <!-- ################################################################################################ -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <a href="users/login"><button type="button" class="btn btn-primary">Login</button></a>
                </div>
            </nav>
            <!-- ################################################################################################ -->
        </section>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <p>NDC.Aladdin</p>
                <h3 class="heading">Welcome to Lala-Land</h3>
                <p>This is a project of Group 6 for Enterprise Website Subject</p>
            </article>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <section id="introblocks">
                <ul class="nospace group">
                    <li class="one_third">
                        <figure><a class="imgover" href="#"><img src="images/demo/348x220.png" alt="Article image"></a>
                            <figcaption>
                                <h6 class="heading">Aliquam faucibus</h6>
                                <p>Ipsum eu ipsum donec ac orci sed lectus elementum fringilla nullam dictum nisi nec
                                    mauris phasellus ut lacus.</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper coloured">
        <section id="testimonials" class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <h5 class="heading">Team Member of Group 6</h5>
            </div>
            <article class="one_half first"><img src="images/teamAVT/me.png" alt="teamAVT">
                <blockquote>lalaalalala
                </blockquote>
                <h6 class="heading">Nguyen Duc Cuong</h6>
                <em>Leader of the team</em>
            </article>
            <article class="one_half"><img src="images/teamAVT/thang.png" alt="teamAVT">
                <blockquote>lalaalalala
                </blockquote>
                <h6 class="heading">Pham Ngoc Thang</h6>
                <em>Leader of the team</em>
            </article>
            <article class="one_half first"><img src="images/teamAVT/vu duc.png" alt="teamAVT">
                <blockquote>lalaalalala
                </blockquote>
                <h6 class="heading">Vu Viet Duc</h6>
                <em>Database Designer</em>
            </article>
            <article class="one_half"><img src="images/teamAVT/son.png" alt="teamAVT">
                <blockquote>lalaalalala
                </blockquote>
                <h6 class="heading">Nguyen Hoang Son</h6>
                <em>Front-end Designer</em>
            </article>
            <article class="one_half first"><img src="images/teamAVT/p.cuong.png" alt="teamAVT">
                <blockquote>alalalalaala
                </blockquote>
                <h6 class="heading">Pham Quoc Cuong</h6>
                <em>Front-end Developer</em>
            </article>
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                    title="Free Website Templates">OS Templates</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="js/indexJS/jquery.min.js"></script>
    <script src="js/indexJS/jquery.backtotop.js"></script>
    <script src="js/indexJS/jquery.mobilemenu.js"></script>
    <script src="https://kit.fontawesome.com/bef6839cc1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>